{% extends 'index.html' %}
{% block content %}
        <div class="mt-5 ms-5">
            {% if name %}
                <h3>
                    Numéro: {{number}}
                </h3>
                <h3>
                    Nom: {{name}}
                </h3>
                <h3>
                    Taille: {{height}}
                </h3>
                <h3>
                    Poids: {{weight}}
                </h3>
                <h3>
                    Image:
                </h3>
                <img src="{{sprite}}" alt="{{name}} sprite" style="width: 70px">
            {% else %}
                <h1 class="text-decoration-underline">Noms des pokemons :</h1>
                <ul class="list-unstyled">
                    <div class="text-center">
                    {% for result in results %}
                        <li class="text-capitalize"><a href="{% url 'pokemonDetails' result.name %}">{{ result.name }}</a></li>
                    {% endfor %}
                    </div>
                </ul>
            {% endif %}
        </div>
{% endblock %}