{% extends 'index.html' %}  
      <!--Utiliser les "list-group" sur Bootstrap pour que ce soit plus joli et mettre 5 pokémons par ligne
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
            </ul>-->
        {% block content %}
            <h1 style="text-decoration: underline;">Noms des pokemons :</h1>
            <ul class="list-unstyled">
                <div class="container text-center">
                {% for result in results %}
                    <li class="text-capitalize"><a href="{% url 'pokemonDetails' result.name %}">{{ result.name }}</a></li>
                {% endfor %}
        {% endblock %}
            