{% extends 'header.html' %}
{% block content %}
        <div class="card border-dark" style="width: 60%; text-align: center; margin:auto">
            <ul class="list-group list-group-flush">
                <img class="card-img-top" src="https://cdn.discordapp.com/attachments/764224092156198992/1042942140528996414/pokedexx1.jpg" alt="Card image cap">
                <li class="list-group-item">pokemon 1</li>
                <li class="list-group-item">pokemon 2</li>
                <li class="list-group-item">pokemon 3</li>
                <li class="list-group-item">pokemon 4</li>
                <li class="list-group-item">pokemon 5</li>
                <li class="list-group-item">pokemon 6</li>
            </ul>
        </div>

        <div style="margin:50px">
        </div>

        <div class="card border-dark" style="width: 60%; text-align: center; margin:auto">
            <div class="card-header">
                Veuillez saisir le nom du pokémon : 
            </div>
            <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            <button type="button" style="width:100%" class="btn btn-outline-danger">Supprimer</button>
        </div>
{% endblock %}